html,body{
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: 'Open-sans', sans-serif;
}

body{
	width: 100%;
	margin: auto;
}

.container{
	width: 100%;
}

.row{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
}

/*HEADER*/
#header{
	background: #eee;
	padding-top: 10px;
	margin-bottom: 30px;
	position: fixed;
	height: 40px;
	width: 100%;	
}

#header .row{
	width: 100%;
	margin: 0;
}

#header-img{
	width: 300px;
}

.div-nav{
	padding: 0;
}

#nav-bar li{
	list-style: none;
}

#nav-bar a{
	text-decoration: none;
	font-size: 1.1em;
	color: #000;
}

/*SPACING*/
#spacing{
	display: flex;
	padding: 0;
	margin-top: 0;
	height: 80px;
	background: #eee;
}

/*SUBHEADER*/
#subheader{
	width: 100%;
	padding-top: 35px;
	margin-bottom: 60px;
}

#email{
	width: 300px;
	padding: 5px;
	margin-bottom: 15px;
}

#submit{
	text-transform: uppercase;
	background-color: #f1c40f;
	font-weight: bold;
	padding: 7px 15px;
	font-size: 16px;
}

/*MAIN*/
.fa-fire{
	padding-right: 7px;
}

.center-alignment .row{
	margin-left: auto;
}

#main h3{
	font-size: 1.6em;
	margin-bottom: 0;
}

#features > div{
	margin-bottom: 20px;
}

#features i{
	font-size: 50px;
	color: darkorange;
}

/*MAIN VIDEO*/
#main-video{
	margin-top: 40px;
	margin-bottom: 60px;
}

#main-video iframe{
	width: 80%;
	height: 400px;
	width: 100vw;
}

/*PRICING*/
#pricing{
	margin: auto;
	margin-bottom: 20px;
}
.pricing-div{
	padding: 0px 0px;
	margin-bottom: 20px;
	border: 1px solid #000;
}

.pricing-div h4{
	background: #ddd;
	margin: 0;
	text-transform: uppercase;
	padding: 18px 0;
	font-size: 1.1em;
}

.pricing-div p{
	text-align: center;
}

.pricing-div input{
	background: #f1c40f;
	text-transform: uppercase;
	padding: 5px 10px;
	margin-bottom: 20px;
	font-size: 14px;	
}

/*FOOTER*/
footer{
	width: 100%;
	background: #ddd;
	margin: 0;
	padding: 0;
}

footer .row{
	margin: 0;
}

footer li{
	list-style: none;
	display: inline;
	margin-right: 20px;
}

footer li a{
	text-decoration: none;
	color: #000;
}


/*MEDIA QUERIES*/
@media (min-width: 1024px){
	/*FEATURES*/
	#features-update{
		padding: 0;
	}
}

@media only screen and (min-width: 950px ){
	/*PRICING*/
	#pricing{
		width: 80%;
	}
	.pricing-div{
		max-width: 240px;
	}
}

@media only screen and (min-width: 801px) and (max-width: 949px){
	/*PRICING*/
	.pricing-div{
		max-width: 240px;
	}
}

@media only screen and (min-width: 768px){
	/*MAIN*/
	#main h3{
		float: left;
	}
	.main-p{
		clear: both;
		text-align: left;
		padding: 0;
	}
}


@media (max-width: 767px){
	/*HEADER*/
	#header{
		padding-bottom: 50px;
	}

	/*MAIN*/
	#main p{
	text-align: center;
	margin-top: 0;
	padding: 0 7px;
	}

	/*DIVIDER*/
	#spacing{
		height: 110px;
		background: #eee;
	}
}

@media only screen and (max-width: 800px) and (min-width: 599px) {
	/*PRICING*/
	.pricing-div{
		max-width: 300px;
		margin: 0 32% 20px 32%;
	}
}

@media (max-width: 600px){
	/*HEADER*/
	#header{
		padding-bottom: 100px;
	}
	
	/*MAIN*/
	#main p{
		padding: 5px;
	}
}

@media only screen and (max-width: 598px) and (min-width: 400px) {
	/*PRICING*/
	.pricing-div{
		flex: 0 0 300px;
		margin: 0 auto 30px auto;
	}
}

@media (min-width: 599px){
	/*HEADER*/
	#header{
		height: 50px;
	}
	/*DIVIDER*/
	#spacing{
		height: 70px;
		background: #eee;
	}
	#nav-bar li{
		display: inline;
		padding-right: 50px;
	}
	/*SUBHEADER*/
	#subheader{
		padding-top: 0px;
	}

	/*FOOTER*/
	footer p{
		padding-right: 20px;
	}
}

@media (min-width: 400px){
	/*MAIN*/
	#main-video iframe{
		width: 100%;
	}
}