html,body{
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: 'Open-sans', sans-serif;
}

body{
	margin: auto;
}

.container{
	margin:auto;
}

img{
	width: 100%;
}

/*HEADER*/
#header{
	background: #eee;
	margin-bottom: 30px;
	position: fixed;
	top: 10px;
	height: 30px;
	width: 100%;	
}

#header-div{
	width: 20%;
}

#header-img{
	width: 300px;
}

#nav-bar li{
	list-style: none;
}

#nav-bar a{
	text-decoration: none;
	font-size: 1.1em;
	color: #000;
}

/*SUBHEADER*/
#subheader-1{
	width: 100%;
	padding-top: 35px;
	margin-bottom: 50px;
}

#email{
	width: 300px;
	padding: 5px;
	margin-bottom: 15px;
}

#submit{
	text-transform: uppercase;
	background-color: #f1c40f;
	font-weight: bold;
	padding: 7px 15px;
	font-size: 16px;
}

/*SPACING*/
#spacing{
	height: 85px;
}

/*MAIN*/
#main h3{
	font-size: 1.6em;
	margin-bottom: 0;
}

#main p{
	text-align: justify;
	margin-top: 0;
	padding: 0 15px;
}

#features > div{
	margin-bottom: 20px;
}


/*MEDIA QUERIES*/
@media(min-width: 601px){
	/*HEADER*/
	#nav-bar li{
		display: inline;
		padding-right: 50px;
	}
	/*SUBHEADER*/
	#subheader-1{
	padding-top: 0px;
	}
}

@media(max-width: 600px){
	/*HEADER*/
	#header{
		padding-bottom: 100px;
	}
}

@media(max-width: 400px){
	/*SUBHEADER*/
	#subheader-1{
		
	}
}


/*#header{
	padding-top: 2%;
	position: fixed;
	margin-bottom: 30%;
	background-color: #eee;
}

.container{
	margin: auto;
}

#header-img{
	width: 100%;
	max-width: 350px;
	margin-right: auto;
	margin-left: auto;
	
}

#nav-bar{
	text-align: center;
}

li{
	display: block;
	list-style: none;
	margin-bottom: 1%;
}

li>a{
	text-decoration: none;
	font-size: 1.5em;
	color: #000;
}

h2{
	font-weight: bold;
	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
	color: #2D4543;
}

#email{
	width: 60%;
	margin-bottom: 3.5%;
	height: 20px;
	padding-left: 1%;
}

#submit{
	background-color: #FFC626;
	font-weight: bold;
	font-size: 1.3em;
}

#features{
	margin-top: -1%;
	text-align: center;
}

h3{
	font-size: 1.6em;
	margin-top: 13%;
}

p{
	padding: 1%;
	font-size: 1.2em;
}

#video{
	margin-top:20%;
	height: 80%;
	width: 100%;
}

iframe{
	width: 100%;
	height: 150%;
	text-align: center;
}

#pricing{
	margin-top: 35%;
}

#tenor_trombone,#bass_trombone,#valve_trombone{
	border: 1px solid black;
}

@media (max-width: 350px) {
    {
      #header{
      }
      #header-img{
      	max-width: 300px;
      }
      
    }
  }*/